<!DOCTYPE html>
<html>
    <head>
        <title>Spraditech Digital Solutions</title>
    </head>
    <body>
        <main>
            <img src = "/images/trans-parlypay-logo.png" width = "250px" />
            <h1>Spraditech Digital Solutions</h1>
        </main>
    </body>
</html>